@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

:root {
    --white: #fff;
    --white-dim: rgba(255, 255, 255, 0.7);
    --white-very-dim: rgba(255, 255, 255, 0.2);
    --black: #000000;
    --black-transparent: rgba(0, 0, 0, 0.5);
    --just-dark: rgba(32, 32, 35, 0.5);
    --accent: #5c6ed0;
    --accent-transparrent: rgba(92, 110, 208, 0.6);
    --accent-more-transparrent: rgba(92, 110, 208, 0.4);

    --radius: 15px;
    --padding: 20px;
    --border-width: 1px;
    --margin: 1em;
    --blur: blur(8px)
}

body {
    font-family: 'Inter', sans-serif !important;
    background-color: var(--black) !important;
    color: var(--white) !important;
}

a {
    color: var(--accent);
    text-decoration: none !important;
}

a:hover {
    color: var(--white);
}

h1 {
    font-weight: 700 !important;
    margin-top: var(--margin) !important;
    margin-bottom: var(--margin) !important;
}

h1::before {
    color: var(--white-very-dim);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    content: "<h1>";
}

h1::after {
    color: var(--white-very-dim);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    content: "</h1>";
}

.section-sharp::before {
    content: "# ";
    color: var(--white-very-dim);
}

div.container {
    max-width: 1100px;
}

nav.navbar {
    top: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    background: var(--black-transparent);
    z-index: 3;
    -webkit-backdrop-filter: var(--blur);
    backdrop-filter: var(--blur);
}

.roundImage {
    max-width: 250px;
    width: 40%;
    border-radius: 50%;
    border: 2px solid white;
}

@keyframes shadow-animation {
    0% {
        box-shadow: 25px 30px 200px var(--accent-transparrent);
    }
    50% {
        box-shadow: 10px 15px 100px var(--accent-transparrent);
    }
    100% {
        box-shadow: 25px 30px 200px var(--accent-transparrent);
    }
}

.cool-shadow {
    box-shadow: 25px 30px 200px var(--accent-transparrent);
}

.cool-shadow.moving {
    animation: shadow-animation 2s infinite;
}

.popoverThumbnail {
    width: 100%;
}

a.navbar-brand {
    color: var(--white);
    font-weight: bolder;
}

a.nav-link {
    color: var(--white) !important;
}

a.navbar-brand.show, a.navbar-brand:hover, a.nav-link.show, a.nav-link:hover {
    color: var(--white-dim);
}

.link {
    cursor: pointer;
    color: var(--white) !important;
}

.link:hover {
    color: var(--white-dim) !important;
}

hr {
    color: var(--white-dim) !important;
    opacity: 1 !important;
}

div.card {
    background-color: var(--just-dark);
    color: inherit;
    border-color: var(--white-very-dim);
    padding: var(--padding);
    max-width: 500px;
    margin: var(--margin);
    text-align: start;
    font-family: 'IBM Plex Mono', monospace;
    z-index: 2;
    border-radius: var(--radius) !important;
    -webkit-backdrop-filter: var(--blur);
    backdrop-filter: var(--blur);
}

div.card > p {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
}

p.shell-prefix {
    color: var(--accent);
    opacity: .70;
    margin: 0;
}


@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blinking-cursor {
    color: var(--accent);
    animation: blink 1s infinite;
}

footer {
    border-top: var(--border-width) solid var(--white);
}

.footer-row {
    padding: var(--padding);
    text-align: center;
}

.nav-pills > .nav-item > .nav-link.active {
    background-color: var(--accent) !important;
}

span {
    color: var(--white-dim);
}

.popover {
    border-radius: var(--radius) !important;
    border: var(--border-width) solid var(--black) !important;
    box-shadow: 12px 15px 100px var(--accent-more-transparrent);
    background-color: var(--black) !important;
}

.popover-arrow {
    display: none !important;
}

.popover-header {
    border-top-left-radius: var(--radius) !important;
    border-top-right-radius: var(--radius) !important;
    background-color: unset !important;
}

.popover-body {
    border-bottom-left-radius: var(--radius) !important;
    border-bottom-right-radius: var(--radius) !important;
    overflow: hidden;
    background-color: unset !important;
    padding: 0 !important;
}

.badge {
    background-color: var(--accent) !important;
    border-radius: var(--radius) !important;
}

th, td {
    background-color: unset !important;
    border: unset !important;
    padding-left: var(--padding);
    padding-bottom: var(--padding);
}

td {
    color: var(--white) !important;
}

th {
    color: var(--accent) !important;
}

.offcanvas {
    color: var(--white) !important;
    background-color: var(--black-transparent) !important;
    -webkit-backdrop-filter: var(--blur);
    backdrop-filter: var(--blur);
    text-align: right;
}

@media (max-width: 990px) {
    .navbar-collapse.collapse.show > .navbar-nav > .nav-link {
        font-size: 22px !important;
        text-align: right;
    }
}